# Vscode stuff
.vscode/

# Testing direcotry
test/

# REMOVE: Linux as it is not built
src/linx/

# Build files within src
src/windows/build/
src/linux/build/

# REMOVE: Ignore examples as they are bad!
examples/
